{% extends 'layout.html' %}
{% block title %}Sae 23{% endblock %}
{% block main %}


<h1>Comptes utilisateurs</h1>
<ul>
    <button onclick="window.location.href = '/';">Accueil</button>
    <button onclick="window.location.href = '/admindemandes';">Demande admin</button>
    <button onclick="window.location.href = '/comptes/add';">Nouvelle utilisateur</button>
</ul>

<table>
    <caption></caption>
    <thead>
    <tr>
        <th>Login</th>
        <th>Role</th>
        <th>Supprimer</th>
        <th>Edit</th>
        <th>Chef</th>
        <th>Administratif</th>
    </tr>
    </thead>
    <tbody>
    {% for u in comptes %}

    <tr>
        <th>{{ u["login"] }}</th>
        <td>{{ u["role"] }}</td>
        <td><a href="/comptes/del/{{ u['login'] }}">&cross;</a></td>
        <td><a href="/comptes/edit/{{ u['login'] }}">&#128221;</a></td>
        <th><input type="checkbox" {{ 'checked' if u['role'] == 'chef' }} onclick="return false"></th>
        <th><input type="checkbox" {{ 'checked' if u['role'] == 'administratif' }} onclick="return false"></th>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <th colspan="3"></th>
    </tr>
    {% endfor %}
    </tfoot>
</table>




{% endblock %}
